<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.it.weatherforecast"
    android:versionCode="1"
    android:versionName="2.1" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="cn.it.weatherforecast.util.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launch"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 申请百度定位服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="BBf9o26ClsByR3BF36tHLpNyeMbSUfwU" />

        <!-- 选取指定城市activity -->
        <activity
            android:name=".activity.ChooseAreasActivity"
            android:label="@string/title_activity_choose_areas"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.it.weatherforecast.activity.SelectAreasActivity" />
        </activity>

        <!-- 指定城市的天气显示activity -->
        <activity
            android:name="cn.it.weatherforecast.activity.WeatherInfo"
            android:label="@string/title_activity_weather_info"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 城市天气信息中suggestion部分中的详细内容显示activity -->
        <activity
            android:name="cn.it.weatherforecast.activity.SuggestionDetailActivity"
            android:label="@string/title_activity_weather_suggestion"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.it.weatherforecast.activity.WeatherInfo" />
        </activity>

        <!-- 显示所选城市的列表 -->
        <activity
            android:name="cn.it.weatherforecast.activity.SelectAreasActivity"
            android:label="@string/title_activity_select_city"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.it.weatherforecast.activity.WeatherInfo" />
        </activity>
        <!-- 下载城市信息后台服务 -->
        <service android:name="cn.it.weatherforecast.service.DownAreasService" >
        </service>
        
        <!-- 后台下载城市信息服务 -->
        <service android:name="cn.it.weatherforecast.service.AutoUpdateWeatherService" >
        </service>
    </application>

</manifest>